.fluid-container {
    height: 90vh;
}

.col-4 {
    text-align: center;
    height: 200%;
    width: 200%;
}

.col-fin img {
    width: 100%;
}


.rounded-pill {
    height: 50px;
    width: 55%; 
}

.btn {
    width: 40%;
    font-size: 20px;
}

.sign-up-text {
    margin-bottom: 60px;
}

.person {
    max-width: 500px;
    max-length: 500px;
    margin-top: 56px;
    margin-bottom: 56px;
}

input {
    margin: 20px 20px; 
}

#ring {
    border: solid black;
    width: 70px;
    height: 70px;
    margin: 10;
    border-radius: 50px/50px;
}

#ring .icon {
    left: 65%;
    transform: translate(-50%, -50%);
    top: 50%;
}

#form {
    position: relative;
    margin: 40px 0;
    }    

.facebook-icon {
    position: absolute;
    left: 18%;
    top: -20%;
    transform: scale(0.5);
    }
    
.twitter-icon {
    position: absolute;
    top: 13px;
    left: 19%;
    bottom: 10%;
    transform: scale(0.8);
}
    
.icon {
    position: absolute;
    top: 13px;
    left: 30px;
    right: 20px;
    bottom: 8px;
    transform: scale(0.8);
}


.google {
    max-length: 35%;
    max-width: 35%;
}
    

#input_img {
    position: absolute;
    bottom: 0px;
    left: 120px;
    width: 35px;
    height: 35px;
    top: 36px;
}

