.fluid-container {
    height: 90vh;
}

.col-5 {
    text-align: center;
    height: 100%;
    width: 100%;
}

.col-fin img {
    width: 100%;
}

#ring {

}

.rounded-pill {
    width: 65%; 
    height: 60px;
}

.btn {
    width: 30%;
    font-size: 25px;
}

.sign-up-text {
    margin-bottom: 70px;
}

.person {
    max-width: 50vw;
    margin-top: 7vh;
}

input {
    margin: 2vh 0vw;
}

#ring {
    margin: 0;
    border-radius: 50px/50px;
    border: solid 1px black;
    width: 80px;
    height: 80px;
}

#ring .icon {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.google {
    max-width: 40%;
    max-height: auto;
}

#form {
    position: relative;
    margin: 40px 0;
    }    

#input_img {
    position: absolute;
    bottom: 0px;
    left: 120px;
    width: 35px;
    height: 35px;
    top: 36px;
}

