@media only screen and (max-width: 950px){
    .person, .col-7 {
        display: none;
    }
}

.fluid-container {
    height: 100vh;
}

p {
    padding: 20px;
    font-size: 17px;
}

.col-5 {
    text-align: center;
    height: 100%;
    width: 100%;
}

.col-7 img {
    width: 100%;
}

#ring {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 1px black;
    width: 75px;
    height: 75px;
}

.rounded-pill {
    width: 65%; 
    height: 60px;
}

.btn {
    width: 30%;
    font-size: 25px;
}

.sign-up {
    margin-bottom: 70px;
    font-size: 4rem;
}

.person {
    max-width: 50vw;
    margin-top: 7vh;
}

input {
    margin: 2vh 0vw;
}

#ring {
    margin: 0;
    border-radius: 50px/50px;
    border: solid 1px black;
    width: 80px;
    height: 80px;
}

#ring .icon {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.google {
    max-width: 40%;
    max-height: auto;
}

#form {
    position: relative;
    margin: 40px 0;
    }    

#input_img {
    position: absolute;
    bottom: 0px;
    left: 120px;
    width: 35px;
    height: 35px;
    top: 36px;
}

