.fluid-container {
  height: 110vh;
}

.rounded-pill {
  width: 65%;
  height: 60px;
}

.btn {
  width: 30%;
  font-size: 25px;
  left: 200px; 
}

.sign-up-button{
  font-size: 250px;
  margin-top: 40px;
}

.sign-up {
  margin-bottom: 70px;
}

p {
  padding: 20px;
  font-size: 17px;
}

boxstuff {
  position: relative;
  margin: 16px 10px; 
  padding-top: 15px;
  top: 70%;
}

#ring {
  margin: 0;
  border-radius: 40px/40px;
  border: solid 1px black;
  width: 70px;
  height: 70px;
}

#ring {
  border-radius: 40px/40px;
  border: solid 1px black;
  width: 75px;
  height: 75px;
  left: 200px; 
}

#ring .icon {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.facebook-icon {
  position: absolute;
  left: 18%;
  top: -20%;
  transform: scale(0.5);
}

.twitter-icon {
  position: absolute;
  top: 13px;
  left: 19%;
  bottom: 10%;
  transform: scale(0.8);
}

.google-icon {
  position: absolute;
  top: 13px;
  left: 24px;
  bottom: 8px;
  transform: scale(0.8);
}

.sign-in-button{
  left: 80px;
}

.rundown {
  clip-path: ellipse(100% 150% at 12% -65%);
}

.linkedin-icon {
  position: absolute;
  top: 10px;
  left: 20%;
  bottom: 10%;
}

.google {
  max-width: 40%;
  max-height: auto;
}

#simple-box {
  position: relative;
  margin: 4vh 0;
  left: 10vw;
}

#image_icon {
  width: 35px;
  position: absolute;
  bottom: 3px;
  left: 2vw;
  height: 35px;
}

.col-5 img {
  width: 55%;
}